div {
	color: #D8D8D8;
}
ul {
	list-style-type: none;
	color: #D8D8D8;
	float: top;
	background-color: #292E37;
	top: -15px;
	position: relative;
	width: auto;
	height: 70px;
}
table {
	width: 100%;
	border-style: solid;
	border-width: 4px;
	border-color: #767A79;
}
li {
	float: left;
}
li.search {
	float: right;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #DFDFDF;
}
a:hover {
	color: #FDFDFD;
}
th {
	color: #2C2C2C;
	font-weight: bold;
	overflow: hidden;
	height: 30px;
}
td {
	color: #DFDFDF;
	height: 30px;
}
a.navbar {
	background-color: #292E37;
	color: #D8D8D8;
	height: 35px;
	display: block;
	width: 115px;
	padding: 5px;
	margin-top: 25px;
	text-align: center;
}
a.navbarSel {
	display: block;
	width: 115px;
	padding: 5px;
	text-align: center;
	margin-top: 10px;
	height: 50px;
	background-color: #40485A;
	color: #E8E8E8;
}
a.navbar:hover {
	margin-top: 10px;
	height: 50px;
	background-color: #40485A;
	color: #E8E8E8;
}
input.search_box {
	background-color: #40485A;
	border-width: 1px;
	border-color:  #2E2E2E;
	width: 200px;
	height: 25px;
	margin-top: 20px;
	margin-right: 30px;
	color: #CCCCCC;
	font-weight: bold;
}